@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Noto+Sans+KR&family=Play&display=swap');
/* 
font-family: 'Play', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif; 
*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style-type: none;}
a{color: inherit; text-decoration: none;}
table{width: 100%;  border-collapse: collapse; table-layout: fixed;}
img {max-width: 100%; border: none; vertical-align: middles;}
.cf:after, .cf:before{content: ""; display: block; clear: both;}
header, section, figure, video{display: block;}



body{
    width:100%; height:100%; position: fixed;  
    /*화면과 같은 크기로 고정시킴*/
    background: #111; color:#bbb; }
.vid{
    width: 100%; height:100%; 
    position: fixed; top: 0; left: 0;} 
    /*화면과 같은 크기로 고정시킴*/   
.vid video {
    min-width: 100%; min-height: 100%; 
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
    /*video를 빈틈없이 채울때 부모의 넓이와 맞춤,  그 결과 화면과 같은 빈틈없는 크기로 맞춰짐*/

header {
    position: fixed;
    width:700px; height:100%; 
    background:#b9fb05; 
    transform: skew(-40deg); left:-420px;}
h1 {
    position: absolute; top:40px; right:146px; 
    transform: skew(40deg);}
h1 img{width:280px;}





#gnb i{margin-right: 20px;}

#gnb { 
    position: absolute; top:200px; right:0; 
    width: 220px; font-family: "Play","sans-serif";}
.depth1 > li {
    color:#222; text-align: right; 
    font-size: 18px; font-weight: bold; 
    transition: all 0.5s;
    position: relative;}
.depth1  li > a {
    display: block; padding-right: 40px;    
    height:50px; line-height: 50px; }

#gnb em {display:block; transform: skew(40deg); }
/*transform 속성은 block 요소에만 적용된다.*/


.depth1 > li:hover {background: #111; color:#fff;}
.depth2 {
    opacity: 0; 
    position: absolute; left: 0; top:0; width:150px; 
    transition:all 0.3s;}
.depth1 > li:hover .depth2{ 
    opacity: 0.9;
    position: absolute; left:205px; width: 150px;}
.depth2 > li {
     background: #222; 
     width:150px;
     font-size: 16px;  text-align: center;
     border-bottom: 1px solid #b9fb05; color:#fff; 
     margin-bottom: 2px;}
.depth2 > li > a{ height:40px; line-height: 40px; padding-left: 30px; }
.depth2 > li:hover{background: #b9fb05; color:#111;}

.depth1 > li.on {background: #111; color:#fff;}
.depth1 > li.on .depth2 {opacity: 0.8; left:205px; top:-10px;;}





#sns { position: fixed; top:50px; right:60px; }
#sns li {
    display: inline-block; 
    font-size: 25px; color:#b9fb05;
    padding: 10px;  opacity: 0.5; transition:all 0.5s;}
#sns li:hover{ transform: scale(1.4); opacity: 1;}





.txtBox {
    position: fixed; top:200px; right:70px; 
    text-align: right;}
.tit {
    font-size: 160px; font-family: 'Monoton', cursive; color:#b9fb05; letter-spacing: -1px;}
.tit em{font-size: 50px; font-family: 'Play', sans-serif; color:#fff;}
.txt {
    font-size: 34px; font-family: 'Play', sans-serif; color:#bbb;     
    letter-spacing:-2px; margin-top: -49px;}
.txt strong{font-family: arial; color: #b9fb05; margin-left: 20px; font-weight: normal;}





#side {
    position: fixed; top:0; right:-800px; 
    width: 800px; height: 100%; 
    background: #111; opacity: 0.5; 
    transform: skew(-40deg); transition: all 0.4s;}
.con {
    position: absolute; left:150px;
    width: 400px; height:100%; background: #000; transition: all 1.2s;}
.con p{position: absolute; left:50px; bottom:0; width:300px; height:100px;} 
.con p:nth-child(1){bottom:270px; transform: translate(200px); transition:all 0.4s;} 
.con p:nth-child(2){bottom:160px; transform: translate(200px); transition:all 0.8s;}
.con p:nth-child(3){bottom:50px; transform: translate(200px); transition:all 1.2s;}
.con p em{
    display: block; transform: skew(40deg); 
    font:bold normal 16px/1.7 arial;
    color:#b9fb05; padding-bottom: 3px;}
.con img {opacity: 0.3; transition: all 0.5s;}
.con img:hover{opacity: 1;}

#side:hover{right: -500px; opacity: 0.8;}
#side:hover .con{left:50px;}
#side:hover .con p:nth-child(1){bottom:270px; transform: translate(0px);}
#side:hover .con p:nth-child(2){bottom:160px; transform: translate(0px);}
#side:hover .con p:nth-child(3){bottom:50px; transform: translate(0px);}


.btnContents {
    position: absolute;  bottom: 40px; left:100px; 
    width: 200px; height: 50px; font-size: 60px;
    transform: skew(40deg); color: #b9fb05;}

#side:hover .btnContents{left:700px;}


.btnContents i{position: absolute; bottom: 0px; right: -100px; 
    animation: ani 1.5s infinite linear;}
.btnContents i:nth-child(1){animation-delay: 0s;}
.btnContents i:nth-child(2){animation-delay: 0.5s;}
.btnContents i:nth-child(3){animation-delay: 1s;}
@keyframes ani{
    0%{right: 0; transform: scale(1); opacity: 1;}    
    100%{right:200px; transform: scale(1.5); opacity: 0;}}