@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul{list-style-type: none;}
a{color: inherit; text-decoration: none;}
table{width: 100%;  border-collapse: collapse; table-layout: fixed;}
img {max-width: 100%; border: none; vertical-align: middles;}
.cf:after, .cf:before{content: ""; display: block; clear: both;}

